<!DOCTYPE HTML>

<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>GuestBookHome</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<span th:text="#{msg.GuestPage}" />

	<h1>User entry Screen</h1>
<form action="#" th:action="@{/guestEntrySubmit}"
         th:object="${userEntry}" method="post">
             <table>
         <td>Input Entry:</td>
             <tr>
         <td><input type="text" placeholder="Enter Input Entry" required="required"
         th:field="*{entry}" /> 
             </td>
             </tr>
         <td><input type="submit" class="btn btn-primary" value="submintEntry"
         name="save" /></td>
                <p th:text="'Entry submitted: ' + ${userEntry.status}" />
</table>
</form>


<section class="my-5">

    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
       
       
       
       
       
       
                <h2>Upload Image</h2>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <div class="form-group">
 <p>
        entry: <input type="text" th:text="*{entry}">
    </p>                   <button type="submit" class="btn btn-primary">submit enytry</button>
   
                        <input type="file" name="file" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload File</button>
                </form>
<!--        <p th:text="'Image Uploaded: ' + ${user.status}" />
 -->            </div>
        </div>
    </div>
</section>


</body>
</html>